h1 {
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px black;
    margin: 10px auto;
    font-size: 3em;
    color: #fff;
    font-style: italic;
}

body {
    text-align: center;
    width: 1000px;
    margin-left: 120px;
    padding: 0;
    font-family: 'Tangerine', serif;
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

.container {
    width: 100%;
}

.btn {
    height: 60px;
    width: 180px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 191, 255);
    border: none;
    border-radius: 15px;
}

.btn:hover {
    background-color: #3e8e41
}

@media screen and (max-width: 600px) {
    .btn {
        height: 30px;
        width: 120px;
        padding-bottom: 20px;
        margin-left: 20px;
        font-size: 18px;
        display: inline-block;
    }
    body {
        margin-top: 40px;
        background-image: url('bg.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: right;
    }
    .container {
        width: 30%;
        margin-left: -80px;
    }
    p {
        font-size: 1em;
        text-align: justify;
    }
    h1 {
        font-size: 1.5em;
        text-align: center;
        text-align: justify;
    }
}